@charset "UTF-8";

h1{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 1.15em;
	color: #F72A33;
}

h2{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 60px;
	color: #fdfbf7;
	
}

h3{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 12px;
	color: #F72A33;

}

h4{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 1em;

}

p {
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	font-size: 1.1em;
}

body{
	background-color: #fbfaf9;
	max-width: 1200px;
	height: 100vh;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	/*background-image: url(images/bakgrund-01.png);
	background-size: 1200px 413px;
	background-repeat: no-repeat;
	background-position: 50% 0%;*/
	padding: 0;
	margin-bottom: 0px;	
	cursor: default;

}
header{
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 26.8px;
	max-height: 33.25px;
	display:flex;
}


.contentHeader{
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	display: flex;
	justify-content: space-between;
	margin-top: -5px;

}

main{
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
	height: 100vh;
	margin-top: 12%;
}


.main-content-area{
	position: relative;
	margin-left: 15%;
	margin-right: 15%;
	width: 70%;
}

.logo{
	width: 10%;
	margin-left:0;
}

.about{
	text-align: right;
	width: 10%;
	margin-right: 0;
	margin-top: -11.6px;
}

.headerLong{
	width: 21%;
	margin-top: 2%;
	display: flex;
	flex-direction: column;


}

.headerMedium{
	width: 13%;
	margin-top: 2%;
	display: flex;
	flex-direction: column;
	
}

.headerLast{
	width: 13%;
	margin-top: 2%;	
	text-align: right;
	display: flex;
	flex-direction: column;

}

.dropbtn{
	background-color: transparent;
	border: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 0.7em;
	color: #F72A33;
	position: relative;
	width: 100%;
	text-align: left;
}

.dropdown-content{
	display: none;
	position: absolute;
	min-width: 120px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.dropdown-content b {
 	 color: #F72A33;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 0.7em;
 	 text-decoration: none;
 	 display: block;
}

.dropdown-content b:hover {
	background-color: yellow;
	cursor: pointer;

}

.dropdownContentList{
	margin-top: 4%;
	margin-left: 0%;
	margin-bottom: 4%;
	text-align: left;

}


.headerLong:hover .dropdown-content {display: block;}
.headerMedium:hover .dropdown-content {display: block;}
.headerLast:hover .dropdown-content {display: block;}


.iframe-container{
	position: relative;
	width: 100%;
	padding-bottom: 56.25%;
}

.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-content-text-area{
	width:100%;
	padding-top:10%;
	display:flex;
	flex-direction: row;
}

.main-content-title{
	font-family: 'Libre Baskerville', serif;
	font-weight: 700;
	font-size: 2em;
	color: #F72A33;
	width: 20%;
	text-transform: uppercase;
}
.main-content-empty{
	width: 10%;
}
.main-content-text{
	width:70%;

}

.main-content-text-paragraph{
	width:100%;
	margin-bottom: 3%;
	
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 0.7em;
	color: #F72A33;

}

.main-content-intext{
	width:100%;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 0.7em;
	color: #F72A33;
	
}


.main-content-image{
	width: 100%;
	margine-right:auto;
	margin-left:auto;
	padding-top: 10%;
	padding-bottom: 5%;

	height:auto;
}

footer{
	width: 1200px;
	position: fixed;
	right: 0;
	left: 0;
	top: auto;
	bottom: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	color: #F72A33;
	font-size: 12px;
	text-align: right;
	margin-left: auto;
	margin-right: auto;
}

a:link {
    text-decoration: none;
	color:#F72A33;
}



.contentBox{
	width: 100%;

}

.projectLeft{
	float: left;
	width: 47%;
	margin: 0;
	display: flex;
	flex-direction:column;
	padding: 0;
	position: relative;
}


.projectRight{
	float: right;
	width: 47%;
	display: flex;
	flex-direction:column;
	margin-top: 10%;
	margin-bottom: 0;
	margin-right: 0;
	margin-left: 0;

}

.project-text-wrapper{
	width: 100%;
	padding: 0;
	
}

.projectTextTop{
	float: left;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 0.7em;
	margin-bottom: 1%;
	text-decoration: underline;
	margin-right: 3%;
	color: #F72A33;
	
}


.imageWrapper{
	position: relative;
	width: 100%;
	padding-bottom: 125%;
	padding: 0;

}

.img-main{
	position: absolute;
	top: 0;
	width: 100%;
	opacity:1;

}

.responsive{
	
  width: 100%;
  height: auto;
}

.title{
	position: relative;
	background-color: #F72A33;
	width: 99%;
	margin-left:auto;
	margin-right:auto;
	height:auto;

	text-align: center;
	padding-top: 57%;
	padding-bottom: 57%;
	font-family: 'Libre Baskerville', serif;
	font-weight: 700;
	font-size: 2.5em;
	color: #fbfaf9;
	text-transform: uppercase;	
}

.responsive:hover{
	opacity:0.1;
}

ul{
	list-style-type: none;
	margin-top: -2%;
}

li{
	height: 0.5em;
	margin: 3%;
	margin-left:0;
	text-align: left;
}

.emptyBox{
	height: 20%;
	width: 100%;
}


.clearfix{
	clear: both;	
	
}

.about-container{
	width: 80%;
	margin-top: 17%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	height: 100px;
}

.about-content{
	width: 100%;
	display: flex;
	flex-direction: row;
	margin-top:5%;
}

.about-content-column-title{
	width: 25%;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 1em;
	margine-top: 0;
	text-align: left;

}

.about-content-column-empty{
	width: 10%;
}

.about-content-column-text{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 0.9em;
	margin-bottom: 1%;
	width: 65%;

}

.about-content-column-text-small{
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	font-size: 0.9em;
	margin-left: -7.5%;
	margin-top: 4%;
	margin-bottom: 6%;
	
}

.about-content-column-special{
	
	margin-left:35%;
	margin-bottom:10%;
}

/*tablet view*/
@media (min-width: 401px) and (max-width: 950px){
.title{
	position: relative;
	background-color: #F72A33;
	width: 99%;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	padding-top: 55%;
	padding-bottom: 55%;
	font-family: 'Libre Baskerville', serif;
	font-weight: 700;
	font-size: 2.5em;
	color: #fbfaf9;
	text-transform: uppercase;	
}
	
	.dropdown-content{
	display: none;
	position: absolute;
	min-width: 120px;
	margin-top: 30px;
	margin-bottom: 20px;
}
	
	
}

/*mobile view*/
@media (max-width: 400px){

}
.responsive {
}
